@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add a Machine</h3>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add Machine" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Back to current Machines", "Index")</p>