@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine for maintenance/repair</h2>

<h4>This Engineer is -@Html.DisplayFor(model => model.Name)-</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to current Engineers", "Index")</p>